<.header>
  New Task
  <:subtitle>Use this form to manage task records in your database.</:subtitle>
</.header>

<.task_form changeset={@changeset} action={~p"/projects/#{@project}/tasks"} />

<.back navigate={~p"/projects/#{@project}/tasks"}>Back to tasks</.back>
